<div style="text-align:center; font-family: Lato">
<div class="welcome" data-aos-delay="1000" data-aos="fade-right" data-aos-duration="2000">Welcome</div>
<div class="welcome scrolldown" data-aos-delay="3000" data-aos="fade-right" data-aos-duration="2000">Scroll Down for More</div>

  <div data-aos="zoom-out-up" class="mountains">
    <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
    <img style="width: 100vw; margin-left: -8px" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/Mountains-front.png"
    />
  </div>

  <div data-aos="zoom-out-up" data-aos-anchor="#trigger-tree" style="margin-top: -23%; margin-left: 32%">
    <img style="width: 20vw" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/pink_tree.png" />
  </div>
</div>

<div style="position: fixed; bottom: 0;" data-aos="fade-right"
  data-aos-anchor="#trigger1">
  <img style="width: 20vw" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/man.png" />
</div>
<div style="position: fixed; bottom: 0;" data-aos="fade-right"
  data-aos-anchor="#trigger2">
  <img style="width: 20vw" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/computer.png" />
</div>
<div style="position: fixed; bottom: 0;" data-aos="fade-right"
  data-aos-anchor="#trigger3">
  <img style="width: 20vw" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/table.png" />
</div>

<!-- <div style="position: fixed; height: 200px; width: 600px; left: 50%; top: 0%; margin-left: -300px;" data-aos="fade-right"
  data-aos-anchor="#trigger3">
  <img style="width: 30vw" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/computer.png" />
</div>
<div style="position: fixed; height: 200px; width: 600px; left: 50%; top: 0%; margin-left: -300px;" data-aos="fade-right"
  data-aos-anchor="#trigger">
  <img style="width: 30vw" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/table.png" />
</div> -->

<div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div id="trigger1"></div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div id="trigger2"></div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div id="trigger3"></div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>